*{
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
}

/*_____________________________*/
header {
    background-color: darkgoldenrod;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 0px; /* Adjust padding as needed */
    height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index:10
}
header :hover {
    color: #ddd; /* Lighter color on hover */
}



body {
    background-image: linear-gradient(20deg, #deb887, #deb860);
    background-color: blu;
}
h4 { /* fatwood con*/
    font-family: cursive;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin: 20px 0; /* Adds space between items */
    margin-left: 200px;
    width: 180px;
    padding: 10px; /* Adds space inside the item */
    border: 2px solid #ccc; /*Adds a border around each item */
    border-radius: 5px; /* Rounds the corners of the border */
    background-color: bisque; /* Sets a light background color */
}

h3 {
    font-family: cursive;
    font-weight: bold;
    font-size: 60px;
    color: black;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color:black;
}
.fatcon {
  font-style: italic;
  margin-left: 200px;
}

.content{
    margin: 20px 0; /* Adds space between items */
    padding: 5px; /* Adds space inside the item */
    border: 2px solid #ccc; /*Adds a border around each item */
    border-radius: 5px; /* Rounds the corners of the border */
    background-color:bisque; /* Sets a light background color */
    width: 900px;
    margin-left: 200px;
}


a {
    display: inline-block;
    width: 200px;
    padding: 1rem;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    border: 1px solid #e67e33;
    background-color: #e67e33;
    border-radius: 8px;
    /*position: ;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }








nav {
    background-color:rgb(199, 159, 105); /* Dark background for the nav */
    text-align: center; /* Center the nav items */
    padding: 50px 0; /* Add padding for spacing */
    display: block;
    block-size: 100px;
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

nav li {
    display: inline; /* Display list items in a row */
    margin: 0 15px; /* Add space between items */
}

nav a {
    color: lightgoldenrodyellow; /* text color for links */
    text-decoration: none; /* Remove underline from links */
    font-family: Helvetica; 
    font-weight: bold; 
}

nav a:hover {
    color: #ddd; /* highlights color on hover */
}

#bearcs {
    height: 50vh;
    width: 60%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .75s;
    text-align: center;
    color: #fff;
    transform: scale(0.25);
 }

 #bearcs:target {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: all .85s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
 }
  /* needs to be moved down 100px*/
  
 #bearcs a {
    position:fixed;
    height: 30px;
    width: 30px;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin-left: 250px;
    
 }
 


footer{
    background-color: coral;
    background-size: cover;
    height: 200px;
}

.center {
    align-items: url('https://assets.leevalley.com/Size4/10124/45K1781-fatwood-1-1-2-lb-u-0108.jpg');
    
}