*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*_____________________________*/

header {
    position: fixed;
    top: 0;left: 0;right: 0;
    background-image: radial-gradient( #262626,#313131);
    /* background: #ffffff;*/
    box-shadow: 0 5px 10px #0000001a;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo{
    font-weight: bolder;
    font-size: 70px;
    color: #eee;
    /* color: #333; */
    text-decoration: none;
    font-family: "Caveat", cursive;


}

header .navbar ul {
 list-style:none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
font-size: 20px;
padding: 20px;
color: #eee;
/* color: #333; */
display: block;
}

header .navbar ul li a:hover {
    /* background: #333; */
    color: #eee;
    /* color:#ffff; */
    background-image: radial-gradient( #262626,#313131);
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    /* background: #fff; */
    background-image: radial-gradient( #262626,#313131);
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid #0000001a;
}

header .navbar ul li ul li ul {
    left:200px;
    top:0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #eee;
    /* color:#333; */
    cursor: pointer;
    display: none;
}




@media(max-width:991px) {
    header{
        padding: 20px;
    }
    
    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top:100%;left: 0;right: 0;
        /* background: #fff; */
        background-image: radial-gradient( #262626,#313131);
        border-top: 1px solid #0000001a;
        display: none;
    }

    header .navbar ul li {
    width: 100%;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        /* background: #eee; */
        background: #ccc;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar {
        display:initial;
    }

}



.container {
    position: relative;
    min-height: 100vh;
    background-image: radial-gradient( #451B0F,#512316);
}

.container .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.container .image-container .image {
    height: 350px;
    width: 450px;
    border: 5px solid #ffff;
    box-shadow: 0 5px 15px black;
    overflow: hidden;
    cursor: pointer;
}

.container .image-container .image img{
    height: 350px;
    width: 450px;
    object-fit: cover;
    transition:  .2s linear;
}

.container .image-container .image:hover img{
transform: scale(1.1);
}










  .blox {
    background-image: radial-gradient( #451B0F,#512316);
    margin-top: 75px;
    margin-bottom: 100px;
    padding: 15px;
  }

  .specL4 {
    gap:15px; 
    justify-content: space-between;
    display: block;
}

   .spec {
    margin: 30px, 0;
    padding: 5px; /* Adds space inside the item */
    border: 2px solid #ccc; /*Adds a border around each item */
    border-radius: 5px; /* Rounds the corners of the border */
    background-color:#f5f5f5; /* Sets a light background color */
    width: 600px;
    margin-bottom: 100px;
    margin-left: 500px;
    height: 600px;
    overflow: hidden;
    
  } 










.container3 {
    position: relative;
    min-height: 100vh;
    background-image: radial-gradient( #451B0F,#512316);
    display: inline;
}

.container3 .image-container3 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.container3 .image-container3 .image3 {
    height: 322px;
    width: 300px;
    border: 5px solid #ffff;
    box-shadow: 0 5px 15px black;
    overflow: hidden;
    cursor: pointer;
}

.container3 .image-container3 .image3 img{
    height: 322px;
    width: 300px;
    object-fit: cover;
    transition:  .2s linear;
}

.container3 .image-container3 .image3:hover img{
transform: scale(1.1);
}







body {
    background-image: linear-gradient(20deg, #f8fcff, #f0f8ff);
}

h4 { /*fatwood con */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: black;
    margin: 20px 0; /* Adds space between items */
}

h3 {
    font-family: cursive;
    font-weight: bold;
    font-size: 60px;
    color: black;
    text-align: center;
}


.box1list {
 color: black;
display: inline;
text-decoration: none;
list-style-type: none; /* Remove bullet points */
}

.content{
    margin: 100px;
    padding: 5px; /* Adds space inside the item */
    border: 2px solid #ccc; /*Adds a border around each item */
    border-radius: 5px; /* Rounds the corners of the border */
    background-color:#f5f5f5; /* Sets a light background color */
    width: 900px;
    margin-left: 200px;
}

/* the X on pop ups css*/
/*------------Bear scracthes image popup----------------------------------------------------------------------------------*/


 
 footer{
    background-color: #004a87;
    background-size: cover;
    height: 200px;
}
 



